<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SandFit</title>
</head>

<body>
  <nav style="height:5em" class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="userName" class="navbar-brand">Hello</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col 12 text-center">
        <div class="btn-group dropright mt-4">
          <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            What would you like to do today?
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Legs</a>
            <a class="dropdown-item">Arms</a>
            <a class="dropdown-item">Back</a>
            <a class="dropdown-item">Chest</a>
            <a class="dropdown-item">Core</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col 12 text-center">
        <div class="btn-group dropright mt-4">
          <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            What intensity would you like?
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">1</a>
            <a class="dropdown-item">2</a>
            <a class="dropdown-item">3</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>